.borrow-form {
    &__btns {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        padding: 10px 0 20px;
        
    }
    &__btn-cancel {
        background-color: var(--primary-color-light);
        color: var(--primary-color);
        font-weight: 600;
        font-size: 16px;
        &:hover {
            background-color: #fff !important;
            color: var(--primary-color) !important;
            border-color: var(--primary-color) !important;
        }
    }
    &__btn-submit {
        background-color: var(--primary-color-dark);
        color: #fff;
        font-weight: 600;
        font-size: 16px;
        &:hover {
            background-color: var(--primary-color-light) !important;
            color: var(--primary-color) !important;
            border-color: var(--primary-color) !important;
        }
    }
}