.transaction-card {
  max-width: 500px;
  margin: auto;
  background: linear-gradient(to right, #682be5, #a459f3);
  color: white;
  border-radius: 10px;
}

.transaction-card .ant-card-head {
  border-bottom: none;
}

.transaction-id {
  color: white;
}

.section-title {
  margin-top: 20px;
  color: white;
}

.transaction-info {
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 8px;
}

.info-item {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  color: white;
}

.recurring-button {
  margin-top: 10px;
  font-weight: bold;
  background-color: black;
  color: white;
  border: none;
}

.add-image-button {
  background-color: black;
  color: white;
  border: none;
  margin-top: 10px;
}
