.transaction-recent {
  margin-top: 10px;
  .ant-table {
    padding: 25px;
    padding-top: 15px;
    border-radius: 20px;
  }
  .ant-table-thead {
    tr {
      th {
        background-color: #fff;
        font-size: 20px;
        // border-bottom: 1px solid #000;
        position: relative;
        padding-bottom: 20px;
        padding-top: 20px;
      }
    }
  }
}

.even-row td:first-child,
.odd-row td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.even-row td:last-child,
.odd-row td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.ant-table-tbody {
  border-spacing: 10px 8px;
}

.even-row,
.odd-row {
  padding: 8px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease-in-out;
}
.even-row td {
  background-color: rgba(228, 190, 255, 0.59) !important;
}

.odd-row td {
  background-color: rgba(255, 192, 165, 0.59) !important;
}

.even-row:hover,
.odd-row:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.transaction-recent {
  .ant-table-tbody {
    tr {
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: rgba(241, 137, 255, 0.8) !important;
      }
    }
  }
  .ant-table-body {
    tr {
      td {
        border-top: 4px solid #fff;
        border-bottom: 4px solid #fff;
        font-size: 16px;
        height: 60px;
      }
    }
  }
}
