.ant-layout-sider {
  height: calc(100vh - 120px) !important;
  background: linear-gradient(90deg, #531b8a, #49258f, #3a2181, #22094a);
}
.menu-sider {
  .menu {
    &--custom {
      // height: 100%;
      background: linear-gradient(90deg, #531b8a, #49258f, #3a2181, #22094a);
      transition: width 0.3s ease;

      .ant-menu-item {
        height: 40px;
        width: 240px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        border-radius: 20px;
      }

      .ant-menu-item a {
        color: white;
        font-weight: 500;
        padding: 10px 5px;
      }

      .ant-menu-item:hover {
        color: white !important;
        font-weight: 500;
        background-color: #795bf3 !important;
      }
      .ant-menu-item-selected {
        background-color: #795bf3;
      }
      .ant-menu-item .anticon {
        color: white;
        font-size: 25px;
      }
    }
    &--collapse {
      display: flex;
      flex-direction: column;
      align-items: center;
      // justify-content: center;
      .ant-menu-item {
        width: 56px;
        padding: 4px 15px;
      }

      .ant-menu-item a {
        // color: white;
        // font-weight: 500;
        padding: 5px 10px;
      }

      .ant-menu-item:hover {
        color: white !important;
        font-weight: 500;
        background-color: #795bf3 !important;
      }
      .ant-menu-item-selected {
        background-color: #795bf3;
      }
      .ant-menu-item .anticon {
        color: white;
        font-size: 25px;
      }
    }
  }
}
