.menu-sider {
  background-color: var(--primary-color);
  overflow-y: auto;
  .menu--custom {
    border-top-left-radius: 32px;
    width: 100%;
  }
  .ant-menu-item-group {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    &-title {
      color: var(--primary-color);
      margin-left: 20px;
      font-weight: 600;
      margin-bottom: 25px;
    }
  }
  .ant-menu {
    padding-top: 20px;
  }
  .ant-menu-item {
    padding: 27px 15px !important;
    width: 80%;
    height: 70px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    // transition: none !important;
    border-radius: 12px;
    .lucide {
      width: 24px;
      height: 24px;
      stroke-width: 1.8;
      stroke: #737373;
      // transition: all 0.3s ease-out !important;
      margin-left: 4px;
    }
    span {
      font-size: 16px;
      font-weight: 600;
      color: #737373;
      a {
        margin-left: 10px;
      }
    }
    &-selected {
      background-color: var(--primary-color);

      svg {
        color: #ffffff !important;
      }
      span {
        color: #ffffff;
      }
      .lucide {
        stroke: #ffffff;
      }
    }
    &-active {
      background-color: var(--primary-color) !important;
      span {
        color: #ffffff;
      }
      .lucide {
        stroke: #ffffff;
      }
    }
  }
  .menu--collapse {
    .ant-menu-item-group-title {
      display: none;
    }
    .ant-menu-item {
      width: 60px;
      padding: 4px 15px;
      .lucide {
        width: 30px;
        height: 30px;
        display: block;
        stroke-width: 2.2;
        flex-shrink: 0;
      }
    }
  }
  &__footer {
    background-color: #ffffff;
    // padding: 20px;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #e8e8e8;
    font-size: 16px;
    p:nth-child(3),
    p:nth-child(4) {
      font-size: 14px;
      color: #737373;
    }
    p:nth-child(4) {
      margin-bottom: 50px;
    }
  }
}
