.transaction-dashboard {
  // overflow: hidden;
  display: flex;
  flex-direction: column;
  background: var(--primary-color-light) !important;
  height: 500px;
  padding: 30px !important;
  gap: 20px;
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    &--title {
      font-size: 24px;
      font-weight: 600;
      color: #333;
    }
    &--navigate {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: "Alata", sans-serif !important;
      font-size: 14px;
      color: #ffffff;
      background-color: var(--primary-color);
      border: 1px solid var(--primary-color);
      padding: 10px;
      border-radius: 8px;
      cursor: pointer;
      svg {
        font-size: 20px;
        margin-left: 2px;
      }
      &:hover {
        background-color: var(--primary-color-light);
        color: var(--primary-color);
      }
    }
  }
  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
    &--item {
      display: flex;
      align-items: center;
      // justify-content: space-between;
      position: relative;
      margin-top: 35px;
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 3%;
        height: 94%;
        width: 5px;
        background-color: var(--primary-color-dark);
      }
      &:nth-child(1) {
        margin-top: 10px;
      }
    }
    &--image {
      width: 72px;
      height: 72px;
      border-radius: 50%;
      background-color: #fff;
      border: 1px solid var(--primary-color-dark);
      margin-right: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        transform: scale(1.4);
      }
    }
    &--nameAndType {
      height: 72px;
      display: flex;
      flex-direction: column;
      // align-items: center;
      justify-content: space-between;
      padding: 10px;
    }
    &--name {
      font-size: 18px;
      font-weight: 700;
      margin-left: 0;
      color: #484646;
    }
    &--type {
      font-size: 15px;
      font-weight: 400;
      margin-left: 0;
    }
    &--amountAndTime {
      margin-left: auto;
      margin-right: 2%;
      height: 72px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
    }
    &--amount {
      margin-left: auto;
      font-size: 18px;
      font-weight: 600;
    }
    &--time {
      margin-left: auto;
      font-size: 14px;
      font-weight: 400;
    }
  }
}
