.budget-transaction {
  margin-left: auto;
  margin-right: auto;
  border: 2px solid var(--primary-color);
  border-radius: 16px;
  background: var(--primary-color-light) !important;
  max-width: 550px;
  height: 1200px;
  padding: 32px 16px;
}
