:root {
  --primary-color: #fa7b33;
  --primary-color-light: #ffece1;

  --nav-header-color: #fa7b33;
  --nav-header-color-light: #ffece1;

  --header-color: #fa7b33;
  --header-color-light: #ffece1;
}
