:root {
  --primary-color: #fc8019;
  --primary-color-dark: #fc8e32;
  --primary-color-light: #ffece1;

  --primary-color-dark-mode: "#ffffff";
  // --nav-header-color: #fa7b33;
  // --nav-header-color-light: #ffece1;

  // --header-color: #fa7b33;
  // --header-color-light: #ffece1;

  // --sider-color-bg: #fff;
  // --sider-color-pri: #000;
  // --sider-color: #fa7b33;
  // --sider-color-light: #ffece1;
}
