.layout-default {
  background: var(--primary-color-dark);
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .header {
    height: 120px;
    flex-shrink: 0;
    display: flex;
    background-color: var(--primary-color);
    position: relative;
    ::before {
      content: "";
      height: 48px;
      width: 48px;
      background-color: var(--primary-color);
      position: absolute;
      top: 100px;
      right: 0;
    }
    // border-bottom: 1px solid #e8eaff;
    &__logo {
      width: 20%;
      height: 120px;
      display: flex;
      align-items: center;
      justify-content: center;

      // border-bottom: 1px solid #e8eaff;
      transition: width 0.3s ease;
      background: var(--primary-color);
      &--img {
        width: 60%;
        object-fit: cover;
        margin-right: 10px;
      }
      &--collapse {
        width: 100px;
        transition: width 0.3s ease;
      }
    }
    &__collapse {
      display: flex;
      align-items: center;
    }
    &__wrap {
      width: 97%;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 14px 20px;
      background-color: var(--primary-color-dark);
      border-radius: 17px;
    }
    &__nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1;
      &--left {
        display: flex;
        align-items: center;

        h2 {
          padding: 0;
          margin: 0;
          margin-left: 15px;
          font-size: 28px;
        }
      }
      &--right {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &--button {
        margin-right: 10px;
      }
    }
  }
  .sider {
    // height: calc(100vh - 120px);
    // width: 320px;
    height: 100%;
    overflow-y: auto;
    background: var(--primary-color) !important;
    border-top-left-radius: 32px;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  .content {
    // overflow-y: hidden;
    // overflow-x: hidden;
    // // border-top-left-radius: 52px solid var(--primary-color);
    // border-top-right-radius: 32px;
    // background: var(--primary-color-dark-mode);
    // padding-left: 1.5%;
    // position: relative;
    // z-index: 100;
    // padding-top: 50px;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    border-top-right-radius: 32px;
    background: var(--primary-color-dark-mode);
    padding: 50px 1.5% 24px;
    position: relative;
    z-index: 100;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-bottom: 0;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
.layout-body {
  background-color: var(--primary-color);
}
